<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.careyq.alive.module.product.mapper.ProductAttributeValueMapper">

    <select id="selectExistAttribute" resultType="com.careyq.alive.module.product.entity.ProductAttributeValue">
        select v.*
        from product_attribute_value v
                 left join product_attribute a on v.attribute_id = a.id
        where v.product_id = #{productId}
          and a.type = 1
    </select>
</mapper>